Essentials_Problem_Datafiles

*.pyc
*/*.pyc
*.*~
*/*.*~
*.*#
*/*.*#
*/*/.#*
.#*
*.log

Data_Storage_Directories

SynthData/*
spreading_zones/*
new_isochron_picks/*
Backups/*
Backup/*
backups/*
backup/*

Results_File_Types

*.pdf
*/*.pdf
*.png
*/*.png

Chron_Directories

*r/
*n/
*_sr/

Random_Files
todo.txt
