Essentials_Problem_Datafiles

*.pyc
*/*.pyc
*\*.pyc
*.*~
*/*.*~
*\*.*~
*.*#
*/*.*#
*\*.*#
*/*/.#*
*\*\.#*
.#*
*.log
*.bak
*/*.bak
*\*.bak
*.zip
*/*.zip
*\*.zip
*.inp
*/*.inp
*\*.inp
*.DS*
*gmt.*
*ETOPO*

Data_Storage_Directories

SynthData/*
spreading_zones/*
new_isochron_picks/*
raw_data/ship/*/
raw_data/hi_alt/*/
raw_data/lo_alt/*/
raw_data/lo_alt/*
raw_data/hi_alt/*.bmp
raw_data/hi_alt/.gmtcommands4
raw_data/hi_alt/findreg
raw_data/grids/*/
raw_data/gravity/*
raw_data/backup*
Backups/*
Backup/*
backups/*
backup/*
data*
0000_group_meeting_files/*
raw_data/fracture_zones/*
**/NCEI

Results_File_Types

*.pdf
*/*.pdf
*\*.pdf
*.png
*/*.png
*\*.png

Chron_Directories

*r/
*n/
*_sr/
the_magic_profile/*

*r\
*n\
*_sr\
the_magic_profile\*

Random_Files_And_Directories
0000_group_meetin_files/*
todo.txt
pyskew/.DS_Store
raw_data/.DS_Store
raw_data/anomalous_skewness_model.txt
raw_data/anomalous_skewness_model.txt
raw_data/chrons/.gmtcommands
raw_data/chrons/.gmtdefaults
raw_data/crossings_fzs.jpg
raw_data/range_box
raw_data/Nuvel1_CP_NP_spreading_rates.txt
raw_data/ridge_loc.txt
raw_data/spreading_rate_model.txt
raw_data/spreading_rate_model_C1n-C5r.txt
raw_data/spreading_rate_model_C20n-C29r.txt
raw_data/timescale_gradstein2012.txt
raw_data/timescale_gradstein2012_merge.txt

0000_group_meetin_files\*
todo.txt
pyskew\.DS_Store
raw_data\.DS_Store
raw_data\anomalous_skewness_model.txt
raw_data\anomalous_skewness_model.txt
raw_data\chrons\.gmtcommands
raw_data\chrons\.gmtdefaults
raw_data\crossings_fzs.jpg
raw_data\range_box
raw_data\Nuvel1_CP_NP_spreading_rates.txt
raw_data\ridge_loc.txt
raw_data\spreading_rate_model.txt
raw_data\spreading_rate_model_C1n-C5r.txt
raw_data\spreading_rate_model_C20n-C29r.txt
raw_data\timescale_gradstein2012.txt
raw_data\timescale_gradstein2012_merge.txt
