Essentials_Problem_Datafiles
*.pyc

*.pyc
*/*.pyc
*.*~
*/*.*~
*.*#
*/*.*#
*/*/.#*
.#*
*.log

Data_Storage_Directories

SynthData/*
spreading_zones/*
Backups/*
Backup/*
backups/*
backup/*

Results_File_Types

*.pdf
*/*.pdf
*.png
*/*.png

Chron_Directories

#*/
